body {  
	padding-top: 0px;
}
.form-control { 
	margin-bottom: 10px;
}
.login-screen-bg {  
	background-color: #EFEFEF;
}
.carousel-item{
	height: 700px;
}
.GalleryItem{
	height: 250px;
	width: 350px;
}
.mt{
	margin-top: 50px;
}
.ml{
	margin-left: 70px;
}